<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.css"/>
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.js"></script>
</head>
<body>
    <div id="bubble-chart">
    </div>
    <script async>
            var bubbleChart = dc.bubbleChart("#bubble-chart");

    d3.csv("https://dc-js.github.io/dc.js/vc/vc.csv", function (csv) {
        var data = crossfilter(csv);

        var states = data.dimension(function (d) {
            return d["State"];
        });
        var stateRaisedSum = states.group().reduceSum(function (d) {
            return d["Raised"];
        });

        var industries = data.dimension(function (d) {
            return d["Industry Group"];
        });
        var statsByIndustries = industries.group().reduce(
                function (p, v) {
                    p.amountRaised += +v["Raised"];
                    p.deals += +v["Deals"];
                    return p;
                },
                function (p, v) {
                    p.amountRaised -= +v["Raised"];
                    if (p.amountRaised < 0.001) p.amountRaised = 0; // do some clean up
                    p.deals -= +v["Deals"];
                    return p;
                },
                function () {
                    return {amountRaised: 0, deals: 0}
                }
        );

        var rounds = data.dimension(function (d) {
            return d["RoundClassDescr"];
        });
        var statsByRounds = rounds.group().reduce(
                function (p, v) {
                    p.amountRaised += +v["Raised"];
                    p.deals += +v["Deals"];
                    return p;
                },
                function (p, v) {
                    p.amountRaised -= +v["Raised"];
                    if (p.amountRaised < 0.001) p.amountRaised = 0; // do some clean up
                    p.deals -= +v["Deals"];
                    return p;
                },
                function () {
                    return {amountRaised: 0, deals: 0}
                }
        );
        console.log(statsByRounds.all())

        d3.json("https://dc-js.github.io/dc.js/geo/us-states.json", function (statesJson) {

            bubbleChart.width(990)
                    .height(200)
                    .margins({top: 10, right: 50, bottom: 30, left: 60})
                    .dimension(rounds)
                    .group(statsByRounds)
                    .colors(d3.scale.category10())
                    .keyAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .valueAccessor(function (p) {
                        return p.value.deals;
                    })
                    .radiusValueAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .x(d3.scale.linear().domain([0, 5000]))
                    .r(d3.scale.linear().domain([0, 9000]))
                    .minRadiusWithLabel(15)
                    .elasticY(true)
                    .yAxisPadding(150)
                    .xAxisPadding(300)
                    .maxBubbleRelativeSize(0.07)
                    .renderHorizontalGridLines(true)
                    .renderVerticalGridLines(true)
                    .renderLabel(true)
                    .renderTitle(true)
                    .mouseZoomable(true)
                    .title(function (p) {
                        return p.key;
                    });
            var oldFilterHandler = bubbleChart.filterHandler();
            bubbleChart.filterHandler(function(dimension, filters) {
              // intercept range-based filter and send them to raisedDimension instead
            	if(filters && filters.length === 1 && filters[0].filterType === 'RangedFilter') {
                var range = filters[0];
								var keys = [];
                statsByRounds.all().forEach(function(kv) {
                	if(range[0] <= kv.value.amountRaised &&
                      kv.value.amountRaised < range[1])
                    keys.push(kv.key);
                });
                filters = keys;
              }
              oldFilterHandler(dimension, filters);
              return filters;
            });

            dc.renderAll();
        });
    });
    </script>
</body>
</html>